<main class="main">
  <div class="inner">
       <div class="greeting"> 
        <% if user_signed_in? && current_user.id %>
         <%= "こんにちは、" %>
         <%= link_to current_user.name + "さん" , user_path(current_user.id), method: :get, class: :greeting__link %>
        <% end %>
      </div> 
    <div class="card__wrapper">
    <%= render partial: 'prototype', collection: @prototype %>
    </div>
  </div>
</main>
